body {
  background-color: #F7F9FC;
  font-family: 'Roboto', sans-serif;
  color: #575FA6;
  font-size: large;
}

h1 {
  color: #575F7D;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}


li {
  list-style-type: none;
  display: inline;
  text-align: center;
}

ul {
  padding: 0;
}

.blue_button:hover {
background-color: #000000;
}

h2 {
  color: #7ECE90;
  font-weight: 500;
  font-size: larger;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container {
  margin: 40px 300px 40px 300px;
  background-color: #F7F9FC;
}

.card {
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px 30px 30px 30px;
  margin: 20px;
  box-shadow: 5px 5px 30px #E5E7EA ;
  border-radius: 20px;
}

.blue_button {
  text-decoration: none;
  background-color: #3776BB;
  color: #FFFFFF;
  font-size: medium;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.social_logo {
  color: #D3D3D3 ;
  font-size: 40px;
  margin: 8px;
}

.social_logo:hover {
  color: #000000;
}

#intro p {
  padding-bottom: 10px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

@media (max-width: 300) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 180;
  }
}
